@model List<presupuestario.Producto>

@{
    ViewData["Title"] = "Listado de Productos";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    
    <div class="w-50 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model) 
                {
                    <tr>
                        <td>@p.IdProducto</td>
                        <td>@p.Descripcion</td>
                        <td>@p.Precio</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>