@model List<presupuestario.Presupuesto>

@{
    ViewData["Title"] = "Listado de Presupuestos";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    
    <div class="w-50 mx-auto">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Destinatario</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model) 
                {
                    <tr>
                        <td>@p.IdPresupuesto</td>
                        <td>@p.NombreDestinatario</td>
                        <td>@p.FechaCreacion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
